# shellcheck shell=bash

if command -v nix >/dev/null 2>&1; then
  if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
  fi

  watch_file ./nix/flake.nix
  use flake path:./nix
fi

watch_file target-bazel/out/bazel_env-opt-ST-6691f78f59fa/bin/bazel_env/bin
PATH_add target-bazel/out/bazel_env-opt-ST-6691f78f59fa/bin/bazel_env/bin
if [[ ! -d target-bazel/out/bazel_env-opt-ST-6691f78f59fa/bin/bazel_env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //:bazel_env' to regenerate target-bazel/out/bazel_env-opt-ST-6691f78f59fa/bin/bazel_env/bin"
fi

PATH_add "$(pwd)/tools/scripts"

export BAZEL="$(which bazel)"

git config --local include.path ../.gitconfig

source_env_if_exists .envrc.local
