target/
.vscode/
!.vscode/extensions.json
.env*
!.envrc
*.log
*.lcov
lcov.info
local/
coverage/
benchmark.txt
.aliases
local.just
.runner/

# Typescript / Javascript
**/node_modules/
**/.docusaurus
**/.cache-loader
**/.output
**/.vercel
**/.svelte-kit
cloud/dashboard/build
cloud/docs/build
cloud/proto/ts/dist
**/vite.config.js.timestamp-*

# MacOS
**/.DS_Store
**/Thumbs.db

# Env
!cloud/dashboard/.env

# Bazel
target-bazel/
.bazel_compact_execution_log
rust-project.json
.user.bazelrc
.direnv/
.rust-project.bazel.json
MODULE.bazel.lock

# Turbo
.turbo/

# diesel
.diesel_lock
